@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,700,600);

.column { width: 40%; margin: 5%; float: left; position: relative; }

h1,h2,h3 { clear: both; }

textarea { width: 100%; }
code { padding: 1px 5px; background-color: #eee; white-space: pre-wrap; }
del { color: #D50000; }
ins { color: #1B5E20; text-decoration: none; }
pre { padding: 5px; margin: 3px 0; line-height: 1.4em; background-color: #e9e9e9; }
pre span.highlight { background-color: #b8e1ff; }
hr { border-width: 0; border-top: 1px solid #ccc; height: 0; }
blockquote { font-style: italic; display: table; text-align: left; margin: 0 auto; }
blockquote div { font-style: normal; }

table.describe, table.example { width: 100%; border-spacing: 5px 0; }
table.describe td { width: 50%; vertical-align: top; }
table.example td { width: 50%; }
table.describe pre.source, table.example pre.source { white-space: pre-wrap; background-color: #FFF9C4; margin: 0; }

table.user { border-spacing: 0 0; }
table.user td, table.user th { padding: 3px; }
table.user tr.tborder > * { border-top: 2px solid black;  }
table.user tr.bborder > * { border-bottom: 2px solid black;  }
table.user tr .lborder { border-left: 1px solid black; }
table.user tr .rborder { border-right: 1px solid black; }

caption.top { caption-side: top; }
caption.bottom { caption-side: bottom; }
caption.right { caption-side: right; }

.ff-sans { font-family: "Source Sans Pro", Verdana, Arial, Helvetica, sans-serif !important; }

table.pad1 td, table.pad1 th { padding: 1px 2px; }
table.pad2 td, table.pad2 th { padding: 2px 4px; }
table.pad3 td, table.pad3 th { padding: 3px 6px; }
table.pad4 td, table.pad4 th { padding: 4px 8px; }
table.pad5 td, table.pad5 th { padding: 5px 10px; }
